.leftLabel{
    color: #797979;
}
.rightLabel
{
    text-align: right
}
.labelList{
    height: 40px;
    line-height: 30px;
}
.mainContent{
    background-color: #f2f2f2;
}
.centerLable{
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}
.hide{
    display: none;
}